{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": [],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {},
    "sourceType": "module"
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": ["off"]
  }
}
